* {
    margin:0px;
    padding: 0%;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
  
  }
  .container{
  
    width: 100%;
    height: 100vh;
    background: dodgerblue;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
   
  }
  
  .main-div{
   width: 50%;
  height: 80vh;
  background: white;
  padding: 20px;
  border-radius: 15px;
  color: dodgerblue;
  box-shadow: 5px 25px 25px -5px rgba(0, 0, 0, 0.5);
  }
  .email{
   
    font-size: 15px;
    width: 90%;
    margin-top: 20px;
   
    text-align: left;
    display: flex;
  }
  .email input{
    font-size: 15px;
    width: 100%;
   border: none;
    border-bottom: 1px solid dodgerblue;
    background: white;
    outline: none;
  }
  .password{
    font-size: 15px;
    width: 90%;
    margin-top: 20px;
    text-align: left;
    display: flex;
  
  }
  .password input{
    font-size: 15px;
    width: 100%;
   border: none;
   border-bottom: 1px solid dodgerblue;
   background: transparent;
   outline: none;
  }
  label{
    min-width: 30vh;
    margin-left: 10px;
  }
  .button-div{
    margin-top: 50px;
  } 
  
  button{
    font-size: 15px;
    background-color: dodgerblue;
    border-radius: 10px;
    padding: 5px;
    color: white;
    outline: none;
    border: none;
    margin-bottom: 40px;
  
  }
  
  .resister{
    color: black;
  }
  button:hover{
    background-color:rgb(96, 137, 179); 
    cursor: pointer;
  }
  .resister a:hover{
    color: red;
    
  }
  a{
    text-decoration :none;
  }
  .fname{
   
    font-size: 15px;
    width: 90%;
    margin-top: 20px;
   
    text-align: left;
    display: flex;
  }
  .fname input{
    font-size: 15px;
    width: 100%;
   border: none;
    border-bottom: 1px solid dodgerblue;
    background: white;
    outline: none;
  }
  .lname{
   
    font-size: 15px;
    width: 90%;
    margin-top: 20px;
   
    text-align: left;
    display: flex;
  }
  .lname input{
    font-size: 15px;
    width: 100%;
   border: none;
    border-bottom: 1px solid dodgerblue;
    background: white;
    outline: none;
  }